<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="format-detection" content="telephone=no" />

    <!-- syntaxhighlighter -->
    <link rel="stylesheet" href="assets/css/sampel.css" />
    <link
            rel="stylesheet"
            href="assets/plugin/syntaxhighlighter_3.0.83/styles/shCore.css"
    />
    <link
            rel="stylesheet"
            href="assets/plugin/syntaxhighlighter_3.0.83/styles/shThemeRDark.css"
    />
    <script
            type="text/javascript"
            src="assets/plugin/syntaxhighlighter_3.0.83/scripts/shCore.js"
    ></script>
    <script
            type="text/javascript"
            src="assets/plugin/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"
    ></script>
    <script
            type="text/javascript"
            src="assets/plugin/syntaxhighlighter_3.0.83/scripts/shBrushCss.js"
    ></script>
    <script
            type="text/javascript"
            src="assets/plugin/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"
    ></script>

    <!-- library javascript -->
    <script src="assets/js/jquery.3.4.1.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="assets/css/module.min.css" />
    <link rel="stylesheet" href="assets/css/front.min.css" />

    <script src="assets/js/front.js"></script>

    <title></title>
</head>
<body>
<div class="wrapper">
    <aside>
        <h1>디지털문화자산 공동활용플랫폼</h1>
        <script>
            $(function () {
                //LNB 활성화
                admin.nav.pageOpen(0, 0);
            });
        </script>
        <nav>
            <ul>
                <!--
                    메뉴에 depth가 없다면, class=link붙여줌(bul방향 표시)
                -->
                <li>
                    <a href="#">DASHBOARD</a>
                    <div class="depth">
                        <a href="#">메뉴0-0</a>
                        <a href="#">메뉴0-1</a>
                    </div>
                </li>
                <li class="link"><a href="#">전시관리</a></li>
                <li>
                    <a href="#">디지털문화자원 관리</a>
                    <div class="depth">
                        <a href="#">메뉴2-0</a>
                        <a href="#">메뉴2-1</a>
                    </div>
                </li>
                <li>
                    <a href="#">컬렉션 관리</a>
                    <div class="depth">
                        <a href="#">메뉴3-0</a>
                        <a href="#">메뉴3-1</a>
                    </div>
                </li>
                <li class="link"><a href="#">비정형품질지표관리</a></li>
                <li class="link"><a href="#">사용자관리</a></li>
                <li class="link"><a href="#">문화자원 이용관리</a></li>
                <li class="link"><a href="#">커뮤니티 관리</a></li>
                <li class="link"><a href="#">통계 관리</a></li>
                <li class="link"><a href="#">설정 관리</a></li>
            </ul>
        </nav>
    </aside>
    <div class="container">
        <!-- contants(s) -->
        <div class="contants">
            <div class="sec">
                <h2>NAV</h2>
                <p>
                    왼쪽 LNB는 "admin.nav.pageOpen(0, 0);" 으로 인자값을 받아 사용<br />dapth가
                    없을 때, &lt;li&gt;에 class=link 추가하여 블릿변경
                </p>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">
                    &lt;script>
                      //LNB 활성화 인자값 i, j
                      admin.nav.pageOpen(0, 0);
                    &lt;/script>
                </pre
                >
                </div>
            </div>
            <div class="sec">
                <h2>Title</h2>
                <p>화면 최상단에 사용하는 타이틀</p>
                <div class="breadcrumb">
                    <span>홈</span><span>디지털문화자원</span>
                </div>
                <div class="tit-wrap">
                    <h1>디지털문화자원 목록</h1>
                </div>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                  <!-- breadcrumb -->
                  <div class="breadcrumb"><span>홈</span><span>디지털문화자원</span></div>
                        <!-- tit-wrap -->
                  <div class="tit-wrap">
                    <h1>디지털문화자원 목록</h1>
                  </div>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>margin, padding</h2>
                <p>
                    5px 단위로 작성<br />
                    margin-top 0 ~ 100, padding-top 0 ~ 100<br />
                    margin-bottom 0 ~ 100, padding-bottom 0 ~ 100<br />
                    margin-left 0 ~ 100, padding-left 0 ~ 100<br />
                    margin-right 0 ~ 100, padding-right 0 ~ 100<br />
                </p>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                    .mt0{margin-top:0 !important;}
                    .mt5{margin-top:5px !important;}
                    ~~~
                    ~~~
                    .mt95{margin-top:15px !important;}
                    .mt100{margin-top:20px !important;}

                </pre
                >
                </div>
            </div>
            <div class="sec">
                <h2>Button</h2>
                <p>
                    기존 디자인에서는 default 버튼 사이즈가 50px이었는데, 40px로
                    줄이면서 small사이즈와 차이가 없어져 xsmall사이즈 추가
                </p>
                <h3>&lt;a&gt; 버튼</h3>
                <a href="#" class="btns">링크</a>
                <a href="#" class="btns color-gray">링크</a>
                <a href="#" class="btns color-red">링크</a>
                <a href="#" class="btns color-orange">링크</a>
                <hr />
                <h3>&lt;button&gt; 버튼</h3>
                <button type="button" class="btns">버튼</button>
                <button type="button" class="btns color-gray">버튼</button>
                <button type="button" class="btns color-red">버튼</button>
                <button type="button" class="btns color-orange">버튼</button>
                <hr />
                <h3>&lt;button&gt; 버튼 + size-small</h3>
                <button type="button" class="btns">버튼</button>
                <button type="button" class="btns size-small color-gray">
                    버튼
                </button>
                <button type="button" class="btns size-small color-red">
                    버튼
                </button>
                <button type="button" class="btns size-small color-orange">
                    버튼
                </button>
                <hr />
                <h3>&lt;button&gt; 버튼 + size-xsmall</h3>
                <button type="button" class="btns">버튼</button>
                <button type="button" class="btns size-xsmall color-gray">
                    버튼
                </button>
                <button type="button" class="btns size-xsmall color-red">
                    버튼
                </button>
                <button type="button" class="btns size-xsmall color-orange">
                    버튼
                </button>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                  <!-- <a> btns -->
                  <a href="#" class="btns">링크</a>
                  <a href="#" class="btns color-gray">링크</a>
                  <a href="#" class="btns color-red">링크</a>
                  <a href="#" class="btns color-orange">링크</a>

                        <!-- <button> btns -->
                  <button type="button" class="btns">버튼</button>
                  <button type="button" class="btns color-gray">버튼</button>
                  <button type="button" class="btns color-red">버튼</button>
                  <button type="button" class="btns color-orange">버튼</button>

                        <!-- size-small -->
                  <button type="button" class="btns">버튼</button>
                  <button type="button" class="btns size-small color-gray">버튼</button>
                  <button type="button" class="btns size-small color-red">버튼</button>
                  <button type="button" class="btns size-small color-orange">버튼</button>

                        <!-- size-xsmall -->
                  <button type="button" class="btns">버튼</button>
                  <button type="button" class="btns size-xsmall color-gray">버튼</button>
                  <button type="button" class="btns size-xsmall color-red">버튼</button>
                  <button type="button" class="btns size-xsmall color-orange">버튼</button>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>Button 정렬</h2>
                <h3>default center 정렬</h3>
                <div class="btn-wrap">
                    <button type="button" class="btns">버튼</button>
                    <button type="button" class="btns color-gray">버튼</button>
                </div>
                <hr />
                <h3>default left 정렬</h3>
                <div class="btn-wrap align-left">
                    <button type="button" class="btns">버튼</button>
                    <button type="button" class="btns color-gray">버튼</button>
                </div>
                <hr />
                <h3>default right 정렬</h3>
                <div class="btn-wrap align-right">
                    <button type="button" class="btns">버튼</button>
                    <button type="button" class="btns color-gray">버튼</button>
                </div>
                <hr />
                <h3>default between 정렬</h3>
                <div class="btn-wrap between">
                    <button type="button" class="btns">버튼</button>
                    <div>
                        <button type="button" class="btns">버튼</button>
                        <button type="button" class="btns color-gray">버튼</button>
                    </div>
                </div>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                  <!-- default center 정렬 -->
                  <div class="btn-wrap">
                    <button type="button" class="btns">버튼</button>
                    <button type="button" class="btns color-gray">버튼</button>
                  </div>

                        <!-- default left 정렬 -->
                  <div class="btn-wrap align-left">
                    <button type="button" class="btns">버튼</button>
                    <button type="button" class="btns color-gray">버튼</button>
                  </div>

                        <!-- default right 정렬 -->
                  <div class="btn-wrap align-right">
                    <button type="button" class="btns">버튼</button>
                    <button type="button" class="btns color-gray">버튼</button>
                  </div>

                        <!-- default between 정렬 -->
                  <div class="btn-wrap between">
                    <button type="button" class="btns">버튼</button>
                    <div>
                      <button type="button" class="btns">버튼</button>
                      <button type="button" class="btns color-gray">버튼</button>
                    </div>
                  </div>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>From</h2>
                <p>
                    default는 width:100%이고, width값 조절은 data-size="w200" ~ "w700"
                    50px 단위로 전달
                </p>
                <h3>default</h3>
                <div class="fm-ele">
                    <input type="text" id="" placeholder="아이디 입력" />
                </div>
                <hr />
                <h3>default + button</h3>
                <div class="fm-ele with-btn">
                    <input type="text" id="" placeholder="아이디 입력" />
                    <button type="button" class="btns">등록</button>
                </div>
                <hr />
                <h3>data-size="w200" + disabled</h3>
                <div class="fm-ele" data-size="w200">
                    <input type="text" id="" placeholder="입력하세요" disabled />
                </div>
                <hr />
                <h3>data-size="w400" + readonly</h3>
                <div class="fm-ele" data-size="w400">
                    <input type="text" id="" placeholder="입력하세요" readonly />
                </div>
                <hr />
                <h3>data-size="w600"</h3>
                <div class="fm-ele" data-size="w600">
                    <input type="text" id="" placeholder="입력하세요" />
                </div>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                  <!-- 기본 -->
                  <div class="fm-ele">
                    <input type="text" id="" placeholder="아이디 입력" />
                  </div>
                        <!-- 기본 + 버튼 -->
                  <div class="fm-ele with-btn">
                    <input type="text" id="" placeholder="아이디 입력" />
                    <button type="button" class="btns size-small">등록</button>
                  </div>
                        <!-- width:200px disabled -->
                  <div class="fm-ele" data-size="w200">
                    <input type="text" id="" placeholder="입력하세요" disabled />
                  </div>
                        <!-- width:400px readonly -->
                  <div class="fm-ele" data-size="w400">
                    <input type="text" id="" placeholder="입력하세요" readonly/>
                  </div>
                        <!-- width:600px -->
                  <div class="fm-ele" data-size="w600">
                    <input type="text" id="" placeholder="입력하세요" />
                  </div>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>From Group</h2>
                <p>
                    폼 요소 정렬할때 사용, 4:6, <br />100% / * = fm-group안에 fm-ele
                    갯수만큼 자동 정렬
                </p>
                <h3>4 : 6</h3>
                <div class="fm-group ratio">
                    <div class="fm-ele">
                        <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                    <div class="fm-ele">
                        <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                </div>
                <hr />
                <h3>100% / 2</h3>
                <div class="fm-group">
                    <div class="fm-ele">
                        <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                    <div class="fm-ele">
                        <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                </div>
                <hr />
                <h3>100% / 3</h3>
                <div class="fm-group">
                    <div class="fm-ele">
                        <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                    <div class="fm-ele">
                        <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                    <div class="fm-ele">
                        <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                </div>
                <hr />
                <h3>100% / 4</h3>
                <div class="fm-group">
                    <div class="fm-ele">
                        <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                    <div class="fm-ele">
                        <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                    <div class="fm-ele">
                        <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                    <div class="fm-ele">
                        <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                </div>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                  <!-- 4 : 6 -->
                  <div class="fm-group ratio">
                    <div class="fm-ele">
                      <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                    <div class="fm-ele">
                      <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                  </div>
                  <hr />
                        <!-- 100% / 2 -->
                  <div class="fm-group">
                    <div class="fm-ele">
                      <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                    <div class="fm-ele">
                      <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                  </div>
                  <hr />
                        <!-- 100% / 3 -->
                  <div class="fm-group">
                    <div class="fm-ele">
                      <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                    <div class="fm-ele">
                      <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                    <div class="fm-ele">
                      <input type="text" id="" placeholder="아이디 입력" />
                    </div>
                  </div>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>radio & checkbox</h2>
                <h3>input[radio] + label[with label text] 혼자 쓸때</h3>
                <div class="fm-radio">
              <span class="fm-ele"
              ><input type="radio" id="radio0" name="radio" /><label
                      for="radio0"
              >
                  기본</label
              ></span
              >
                </div>
                <hr />
                <h3>
                    input[radio] + label[with label text] 일반적인 형태 + 상태옵션
                </h3>
                <div class="fm-radio">
              <span class="fm-ele"
              ><input type="radio" id="radio1" name="radio" /><label
                      for="radio1"
              >
                  기본</label
              ></span
              >
                    <span class="fm-ele"
                    ><input type="radio" id="radio2" name="radio" checked /><label
                            for="radio2"
                    >
                  체크</label
                    ></span
                    >
                    <span class="fm-ele"
                    ><input type="radio" id="radio3" name="radio" disabled /><label
                            for="radio3"
                    >
                  disabled</label
                    ></span
                    >
                </div>
                <hr />
                <h3>input[checkbox] + label[with label text] 혼자 쓸때</h3>
                <div class="fm-check">
              <span class="fm-ele"
              ><input type="checkbox" id="checkbox0" name="checkbox0" /><label
                      for="checkbox0"
              >기본</label
              ></span
              >
                </div>
                <hr />
                <h3>
                    input[checkbox] + label[with label text] 일반적인 형태 + 상태옵션
                </h3>
                <div class="fm-check">
              <span class="fm-ele"
              ><input type="checkbox" id="checkbox1" name="checkbox" /><label
                      for="checkbox1"
              >기본</label
              ></span
              >
                    <span class="fm-ele"
                    ><input
                            type="checkbox"
                            id="checkbox2"
                            name="checkbox"
                            checked
                    /><label for="checkbox2">체크</label></span
                    >
                    <span class="fm-ele"
                    ><input
                            type="checkbox"
                            id="checkbox3"
                            name="checkbox"
                            disabled
                    /><label for="checkbox3">disabled</label></span
                    >
                </div>
                <hr />
                <h3>input[checkbox] 전체선택JS</h3>
                <div class="fm-check check-all-wrap">
              <span class="fm-ele"
              ><input type="checkbox" id="checkAll" name="agree-all" /><label
                      for="checkAll"
              >
                  모두 동의</label
              ></span
              >
                    <div class="check-all">
                <span class="fm-ele"
                ><input
                        type="checkbox"
                        id="TermsService"
                        name="agree"
                /><label for="TermsService">이용약관 동의</label></span
                >
                        <span class="fm-ele"
                        ><input type="checkbox" id="Privacy" name="agree" /><label
                                for="Privacy"
                        >개인정보 수집 및 이용에 대한 안내</label
                        ></span
                        >
                        <span class="fm-ele"
                        ><input
                                type="checkbox"
                                id="LocationInfo"
                                name="agree"
                        /><label for="LocationInfo"
                        >위치정보 이용약관 동의</label
                        ></span
                        >
                    </div>
                </div>

                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                  <!-- input[radio] + label[with label text] 혼자 쓸때 -->
                  <div class="fm-radio">
                      <span class="fm-ele"><input type="radio" id="radio0" name="radio"><label for="radio0"> uncheck</label></span>
                  </div>
                  <hr>
                        <!-- input[radio] + label[with label text] 일반적인 형태 + 상태옵션 -->
                  <div class="fm-radio">
                      <span class="fm-ele"><input type="radio" id="radio1" name="radio"><label for="radio1"> uncheck</label></span>
                      <span class="fm-ele"><input type="radio" id="radio2" name="radio" checked><label for="radio2"> check</label></span>
                      <span class="fm-ele"><input type="radio" id="radio3" name="radio" disabled><label for="radio3"> disabled</label></span>
                  </div>
                  <hr>
                        <!-- input[checkbox] + label[with label text] 혼자 쓸때 -->
                  <div class="fm-check">
                      <span class="fm-ele"><input type="checkbox" id="checkbox0" name="checkbox0"><label for="checkbox0">uncheck</label></span>
                  </div>
                  <hr>
                        <!-- input[checkbox] + label[with label text] 일반적인 형태 + 상태옵션 -->
                  <div class="fm-check">
                      <span class="fm-ele"><input type="checkbox" id="checkbox1" name="checkbox" ><label for="checkbox1">uncheck</label></span>
                      <span class="fm-ele"><input type="checkbox" id="checkbox2" name="checkbox" checked><label for="checkbox2">check</label></span>
                      <span class="fm-ele"><input type="checkbox" id="checkbox3" name="checkbox" disabled><label for="checkbox3">disabled</label></span>
                  </div>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>Select</h2>
                <p>
                    default size 220px 디자인에 맞춰서 작업하였습니다. 사이즈 변경
                    필요시 data-size활용
                </p>
                <div class="fm-focus fm-select">
                    <select id="" name="" class="" title="기관">
                        <option value="" disabled="disabled" selected="selected">
                            기관
                        </option>
                    </select>
                </div>
                <hr />
                <div class="fm-focus fm-select" data-size="w400">
                    <select id="" name="" class="" title="기관">
                        <option value="" disabled="disabled" selected="selected">
                            기관
                        </option>
                    </select>
                </div>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                  <div class="fm-focus fm-select">
                    <select id="" name="" class="" title="기관">
                      <option value="" disabled="disabled" selected="selected">
                        기관
                      </option>
                    </select>
                  </div>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>Textarea</h2>
                <h3>textarea 기본</h3>
                <div class="fm-textarea">
              <textarea
                      id=""
                      name=""
                      cols="50"
                      rows="5"
                      placeholder="기타사항 입력"
              ></textarea>
                </div>
                <h3>textarea Read Only</h3>
                <div class="fm-textarea">
              <textarea
                      id=""
                      name=""
                      cols="70"
                      rows="5"
                      placeholder="Read Only"
                      readonly
              ></textarea>
                </div>
                <h3>textarea Disabled</h3>
                <div class="fm-textarea">
              <textarea
                      id=""
                      name=""
                      cols="100"
                      rows="5"
                      placeholder="Disabled"
                      disabled
              ></textarea>
                </div>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                  <!-- textarea 기본 -->
                  <div class="fm-textarea">
                    <textarea id="" name="" cols="50" rows="5" placeholder="기타사항 입력"></textarea>
                  </div>
                        <!-- textarea Read Only -->
                  <div class="fm-textarea">
                    <textarea id="" name="" cols="70" rows="5" placeholder="Read Only" readonly></textarea>
                  </div>
                        <!-- textarea Disabled -->
                  <div class="fm-textarea">
                    <textarea id="" name="" cols="100" rows="5" placeholder="Disabled" disabled></textarea>
                  </div>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>스위치 버튼</h2>
                <h3>스위치 버튼1</h3>
                <div class="switch-check" data-size="w400">
                    <label
                    >스위치1 <input type="checkbox" /><span
                            class="onoff-switch"
                    ></span
                    ></label>
                </div>
                <div class="switch-check" data-size="w400">
                    <label
                    >스위치2 <input type="checkbox" /><span
                            class="onoff-switch"
                    ></span
                    ></label>
                </div>
                <hr />
                <h3>스위치 버튼2</h3>
                <div class="switch-button" data-size="w400">
              <span
              ><input type="radio" id="switch1" name="switch" checked /><label
                      for="switch1"
              >7일</label
              ></span
              >
                    <span
                    ><input type="radio" id="switch2" name="switch" /><label
                            for="switch2"
                    >1개월</label
                    ></span
                    >
                    <span
                    ><input type="radio" id="switch3" name="switch" /><label
                            for="switch3"
                    >3개월</label
                    ></span
                    >
                    <span
                    ><input type="radio" id="switch4" name="switch" /><label
                            for="switch4"
                    >상시</label
                    ></span
                    >
                </div>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">
                    <!-- 버튼마다 사이즈 설정 필요 -->
                        <!-- 스위치 버튼1 -->
                    <div class="switch-check">
                        <label>스위치1  <input type="checkbox"/><span class="onoff-switch"></span></label>
                    </div>
                    <div class="switch-check">
                        <label>스위치2  <input type="checkbox"/><span class="onoff-switch"></span></label>
                    </div>

                        <!-- 스위치 버튼2 -->
                    <div class="switch-button">
                        <span><input type="radio" id="switch1" name="switch" checked><label for="switch1">7일</label></span>
                        <span><input type="radio" id="switch2" name="switch"><label for="switch2">1개월</label></span>
                        <span><input type="radio" id="switch3" name="switch"><label for="switch3">3개월</label></span>
                        <span><input type="radio" id="switch4" name="switch"><label for="switch4">상시</label></span>
                    </div>
                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>list</h2>
                <h3>horizontal</h3>
                <ul class="list-hor">
                    <li>
                        1. 아이템
                        <ul>
                            <li>1-1 아이템</li>
                            <li>1-2 아이템</li>
                            <li>1-3 아이템</li>
                        </ul>
                    </li>
                    <li>2. 아이템</li>
                    <li>
                        3. 아이템
                        <ul>
                            <li>3-1 아이템</li>
                            <li>3-2 아이템</li>
                            <li>3-3 아이템</li>
                        </ul>
                    </li>
                    <li>4. 아이템</li>
                    <li>5. 아이템</li>
                </ul>
                <hr />
                <h3>vertical</h3>
                <ul class="list-ver">
                    <li>
                        1. 아이템
                        <ul>
                            <li>
                                1-1 아이템
                                <ul>
                                    <li>1-1-1 아이템</li>
                                    <li>1-1-2 아이템</li>
                                    <li>1-1-3 아이템</li>
                                </ul>
                            </li>
                            <li>
                                1-2 아이템
                                <ul>
                                    <li>1-2-1 아이템</li>
                                    <li>1-2-2 아이템</li>
                                </ul>
                            </li>
                            <li>1-3 아이템</li>
                        </ul>
                    </li>
                    <li>2. 아이템</li>
                    <li>
                        3. 아이템
                        <ul>
                            <li>3-1 아이템</li>
                            <li>3-2 아이템</li>
                            <li>3-3 아이템</li>
                        </ul>
                    </li>
                    <li>4. 아이템</li>
                    <li>5. 아이템</li>
                </ul>
                <hr />
                <h3>vertical02 - to front</h3>
                <div class="contents-list">
                    <strong>최종 산출물 (4)</strong>
                    <ul>
                        <li><p class="folder">파일1_basecolor.mp4</p></li>
                        <li>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <p>파일1_basecolor.mp4</p>
                        </li>
                        <li>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <p>파일1_basecolor.mp4</p>
                        </li>
                        <li>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <p class="folder">파일1_basecolor.mp4</p>
                        </li>
                    </ul>
                    <strong>단계 산출물 (5)</strong>
                    <ul>
                        <li><p>파일1_basecolor.mp4</p></li>
                        <li><p>파일1_basecolor.mp4</p></li>
                        <li><p>파일1_basecolor.mp4</p></li>
                        <li><p>파일1_basecolor.mp4</p></li>
                    </ul>
                </div>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                    <!-- list - horizontal -->
                    <ul class="list-hor">
                        <li>1. 아이템
                            <ul>
                                <li>1-1 아이템</li>
                                <li>1-2 아이템</li>
                                <li>1-3 아이템</li>
                            </ul>
                        </li>
                        <li>2. 아이템</li>
                        <li>3. 아이템
                            <ul>
                                <li>3-1 아이템</li>
                                <li>3-2 아이템</li>
                                <li>3-3 아이템</li>
                            </ul>
                        </li>
                        <li>4. 아이템</li>
                        <li>5. 아이템</li>
                    </ul>

                        <!-- list - vertical -->
                    <ul class="list-ver">
                        <li>1. 아이템
                            <ul>
                                <li>1-1 아이템
                                    <ul>
                                        <li>1-1-1 아이템</li>
                                        <li>1-1-2 아이템</li>
                                        <li>1-1-3 아이템</li>
                                    </ul>
                                </li>
                                <li>1-2 아이템
                                    <ul>
                                        <li>1-2-1 아이템</li>
                                        <li>1-2-2 아이템</li>
                                    </ul>
                                </li>
                                <li>1-3 아이템</li>
                            </ul>
                        </li>
                        <li>2. 아이템</li>
                        <li>3. 아이템
                            <ul>
                                <li>3-1 아이템</li>
                                <li>3-2 아이템</li>
                                <li>3-3 아이템</li>
                            </ul>
                        </li>
                        <li>4. 아이템</li>
                        <li>5. 아이템</li>
                    </ul>

                        <!-- vertical02 - to front -->
                    <div class="contents-list">
                      <strong>최종 산출물 (4)</strong>
                      <ul>
                        <li><p class="folder">파일1_basecolor.mp4</p></li>
                        <li>
                          &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;
                          <p>파일1_basecolor.mp4</p>
                        </li>
                        <li>
                          &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;
                          <p>파일1_basecolor.mp4</p>
                        </li>
                        <li>
                          &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;
                          <p class="folder">파일1_basecolor.mp4</p>
                        </li>
                      </ul>
                    </div>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>List Option</h2>
                <p>
                    table 상단이나 list 상단에 옵션값 넣어줄때 정렬시 이용 <br />
                    option = left, right, between, top (top는 margin-top: 80px 여백)
                </p>
                <div class="list-option let">
                    <strong>전체건수 : <b>420</b></strong>
                </div>
                <hr />
                <div class="list-option right">
                    <strong>전체건수 : <b>420</b></strong>
                </div>
                <hr />
                <div class="list-option between">
                    <strong>전체건수 : <b>420</b></strong>
                    <button type="button" class="btns">등록</button>
                </div>
                <hr />
                <div class="list-option top between">
                    <div class="fm-focus fm-select">
                        <select id="" name="" class="" title="정렬">
                            <option value="" disabled="disabled" selected="selected">
                                정렬 선택
                            </option>
                            <option>등록순</option>
                        </select>
                    </div>
                    <button type="button" class="btns">등록</button>
                </div>

                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                  <!-- left -->
                  <div class="list-option let">
                    <strong>전체건수 : <b>420</b></strong>
                  </div>
                        <!-- right -->
                  <div class="list-option right">
                    <strong>전체건수 : <b>420</b></strong>
                  </div>
                        <!-- between -->
                  <div class="list-option between">
                    <strong>전체건수 : <b>420</b></strong>
                    <button type="button" class="btns">등록</button>
                  </div>
                        <!-- between + top -->
                  <div class="list-option top between">
                    <div class="fm-focus fm-select">
                      <select id="" name="" class="" title="정렬">
                        <option value="" disabled="disabled" selected="selected">
                          정렬 선택
                        </option>
                        <option>등록순</option>
                      </select>
                    </div>
                    <button type="button" class="btns">등록</button>
                  </div>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>table</h2>
                <h3>기본 list형</h3>
                <div class="table-wrap">
                    <table>
                        <colgroup>
                            <col width="/" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th>구분1</th>
                            <th>구분2</th>
                            <th>구분3</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>내용1</td>
                            <td>내용1</td>
                            <td>내용1</td>
                        </tr>
                        <tr>
                            <td>내용2</td>
                            <td>내용2</td>
                            <td>내용2</td>
                        </tr>
                        <tr>
                            <td>내용3</td>
                            <td>내용3</td>
                            <td>내용3</td>
                        </tr>
                        <tr>
                            <td>내용4</td>
                            <td>내용4</td>
                            <td>내용4</td>
                        </tr>
                        <tr>
                            <td>내용5</td>
                            <td>내용5</td>
                            <td>내용5</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h3>write형</h3>
                <div class="table-wrap write">
                    <table>
                        <colgroup>
                            <col width="200px" />
                            <col width="*" />
                        </colgroup>
                        <tr>
                            <th>구문1</th>
                            <td>내용1</td>
                        </tr>
                        <tr>
                            <th>구문2</th>
                            <td>내용2</td>
                        </tr>
                        <tr>
                            <th>구문3</th>
                            <td>내용3</td>
                        </tr>
                    </table>
                </div>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                    <!-- table list형 -->
                    <div class="table-wrap">
                        <table>
                            <colgroup>
                                <col width="/">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>구분1</th>
                                    <th>구분2</th>
                                    <th>구분3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>내용1</td>
                                    <td>내용1</td>
                                    <td>내용1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        <!-- table write형 -->
                    <div class="table-wrap write">
                        <table>
                            <colgroup>
                                <col width="200px"><col width="*">
                            </colgroup>
                            <tr>
                                <th>구문1<span></span></th>
                                <td>내용1</td>
                            </tr>
                            <tr>
                                <th>구문2</th>
                                <td>내용2</td>
                            </tr>
                            <tr>
                                <th>구문3</th>
                                <td>내용3</td>
                            </tr>
                        </table>
                    </div>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>pagination</h2>
                <p>pagination 활성화 class=active</p>
                <div class="pagination">
                    <span class="navi prev"><a href="#">이전 페이지</a></span>
                    <span class=""><a href="#">1</a></span>
                    <span class="active"><a href="#">2</a></span>
                    <span class=""><a href="#">3</a></span>
                    <span class=""><a href="#">4</a></span>
                    <span class=""><a href="#">5</a></span>
                    <span class="navi next"><a href="#">다음 페이지</a></span>
                </div>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                  <!-- pagination 활성화 active -->
                  <div class="pagination">
                    <span class="navi prev"><a href="#">이전 페이지</a></span>
                    <span class=""><a href="#">1</a></span>
                    <span class="active"><a href="#">2</a></span>
                    <span class=""><a href="#">3</a></span>
                    <span class=""><a href="#">4</a></span>
                    <span class=""><a href="#">5</a></span>
                    <span class="navi next"><a href="#">다음 페이지</a></span>
                  </div>

                </pre>
                </div>
            </div>
            <div class="sec">
                <h2>laypopup</h2>
                <button class="btns" onclick="admin.modalsShow('modals')">
                    팝업 열기
                </button>
                <div class="modals" id="modals">
                    <div class="pop-layer">
                        <div class="layer-head">
                            <h2>팝업 타이틀</h2>
                            <button class="btn-close">팝업 닫기</button>
                        </div>
                        <div class="layer-cont">팝업 내용</div>
                    </div>
                </div>
                <div class="exp">
                    <h3>code pattern</h3>
                    <pre class="brush: xhtml; gutter: false; toolbar:false">

                    &lt;script>
                      //modal 호출
                      admin.modalsShow("ID");
                    &lt;/script>
                        <!-- Modal layout -->
                    <div class="modals" id="modals">
                        <div class="pop-layer">
                            <div class="layer-head">
                                <h2>팝업 타이틀</h2>
                                <button class="btn-close">팝업 닫기</button>
                            </div>
                            <div class="layer-cont">
                                팝업 내용
                            </div>
                        </div>
                    </div>

                </pre>
                </div>
            </div>
        </div>
        <!-- contants(e) -->
    </div>
</div>

<script>
    $(function () {
        SyntaxHighlighter.all();
    });
</script>
</body>
</html>
